.my-nav {
    position: absolute !important;
    /*top: 100px;*/
    width: 100%;
    z-index: 999 !important;
    border: none !important;
    border-radius: 0;
}

.my-nav .navbar-nav a{
    color: white !important;
    font-size: 20px;
    font-family: helvetica;
    font-weight: 200;
}
.my-carousel {
    position: absolute;
    top: -80px;
}

a .nav {
    padding-right: 20;
}

a .navbar-brand {
    color: black;
    font-size: 40px;
}

.header .my-nav navbar navbar-inverse{
  position: fixed;
  top: 0;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.item h3 {
  color: white;
  font-size: 50px;
}

.welcomemessage h2 {
    text-align: center;
    color: lightcoral;
    font-size: 30px;
}

.welcomemessage p {
    text-align: center;
    color: darkgrey;
    font-size: 20px
}
