.jumbotron {
  padding-top: 90px;
  min-height: 300px;
  margin-bottom: 0;
  background-image: url('img/shop.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#recommendation h1{
  font-family: 'Vast Shadow', cursive;
  color: black;
}

#recommendation h1 small{
  color: black;
}

#content h2{
  font-family: serif;
  font-style: bold;
  color: red;
  font-size: 40px;
}

#content p{
  font-size: 20px;
  color: lightslategrey;
}

#introduction h3{
  font-size: 20px;
  color:deeppink;
}

#introduction p{
  color: black;
  padding-top: 10px;
}

.second {
  padding-top: 20px;
  padding-bottom: 40px;
  height: 300px;
}

.my-nav {
    position: absolute !important;
    /*top: 100px;*/
    width: 100%;
    z-index: 999 !important;
    border: none !important;
    border-radius: 0;
}

.my-nav .navbar-nav a{
    color: white !important;
    font-size: 20px;
    font-family: helvetica;
    font-weight: 200;
}
.my-carousel {
    position: absolute;
    top: -200px;
}

a .nav {
    padding-right: 20;
}

a .navbar-brand {
    color: black;
    font-size: 40px;
}
